$color-dark-blue: #081362;
$color-blue: #0032AB;
$color-light-blue: #00519C;
$color-light-blue-1: #EDEFFF;
$color-gray: #6D7175;
$color-yellow: #FAAD14;
$color-light-red: #FFF7E8;
$color-light-red-1: #FFF1F1;
$color-white-1: #F8F9FA;
$color-light-green: #EBF9FC;